[Desktop Entry]
Type=Application
Name=System Update
Comment=Update System, Flatpaks, Distrobox containers, and more
Icon=/usr/share/ublue-os/atomic-studio/icons/logo.png
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/bin/konsole -e /usr/bin/studio-update
