name: Issue Management
on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]
jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - name: Auto-assign issue
      uses: pozil/auto-assign-issue@v1
      with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          assignees: tulilirockz
          numOfAssignee: 1
    - name: Add to Project Tracking
      uses: actions/add-to-project@v1.0.0
      with:
        project-url: https://github.com/orgs/atomic-studio-org/projects/3
        github-token: ${{ secrets.ADD_TO_PROJECT_TOKEN }}
